.container {
  font-size: 25px;
  grid-template-columns: 30% 1fr;
  gap: 10px;
  height: 100vh;
  max-width: 100vw;
  padding: 10px;
  ;
}

.info {
  border: 1px solid $primary;
  padding: 20px;
  padding-top: 0px;
}

.title {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 20px;
}

.btn {
  margin-top: 24px;
  margin-left: 10px;
  text-align: right;
}

.inputDiv {
  display: flex;
  align-items: center;
}

.inputField {
  flex: 1;
  padding-left: 10px
}
